@import "../../utils/variables";

.button {
  @include flex-center;
  border: none;
  border-radius: 1rem;
  background: transparent;
  color: $primary_color_blue_5;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: .2s color ease-in-out;

  span {
    font-size: 1.1rem;
    margin-left: 0.25rem;
  }

  &:hover {
    color: $white;
  }
}
