@import "./utils/variables";

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/lato-v17-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/lato-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Akaya Telivigala";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/akaya-telivigala-v9-latin-regular.woff2")
      format("woff2"),
    url("./assets/fonts/akaya-telivigala-v9-latin-regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.app {
  width: 100vw;
  height: 95vh;
  margin-top: 5vh;
  background: linear-gradient($primary_color_blue_3, $primary_color_blue_5);
}
